html
{
  background: linear-gradient(aquamarine, coral);
  height: 100%;
}

body
{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 1em;
  color: oldlace;
  background: #00000000;
  font-style: italic;
  text-shadow: 2px 2px gainsboro;
}

input
{
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 2em;
  color: oldlace;
  background: #00000033;
  font-style: italic;
  text-shadow: 2px 2px gainsboro;
  width: 50%;
}

#editorPanel
{

}

.surveyRow
{

}

.surveyTitle
{
  font-size: 2em;
  padding: 0.5em;
}

.surveyEditButton
{

}

.surveyRunButton
{

}

.surveyResultsButton
{

}

.surveyHeader
{
  font-size: 2em;
  padding: 0.5em;
}

.questionRow
{

}

.answerResponses
{
  font-size: 2em;
  padding: 1em;
}

.questionTitle
{
  font-size: 1.5em;
  padding: 0.5em;
}

.questionEditButton
{

}

.surveySaveButton
{

}

.questionHeader
{
  font-size: 2em;
  padding: 0.5em;
}

.answerRow
{

}

.answerTitle
{
  font-size: 1.5em;
  padding: 0.5em;
}

.questionSaveButton
{

}
